<!DOCTYPE html>
<!-- load 'store' angular module when document loads -->
<html ng-app="store">
<head lang="es">
    <meta charset="UTF-8"/>
    <title>SpringMybatisExamplePruebita</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <link rel="stylesheet" href="css/styles.css"/>
</head>
<body>
<div class="container">
    <div class="col-md-12">
        <div class="row">
            <h1> SpringMybatisExamplePruebita </h1>

            <p> <!-- services/person -->
                <a href="springmybatis/PersonManagement.html">Ver todas las personas registradas</a>
            </p>
            <hr/>

            <p>Tengo {{5 + 10 + 5 + 1}} años </p>

            <p>{{"soy " + " tu " + " padre"}}</p>
            <hr/>
        </div>

        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading"><b>Productos</b></div>
                <div class="panel-body">
                    <form name="productsForm" ng-controller="NewProducts as newprod"
                          ng-submit="productsForm.$valid && newprod.addReview(newprod)" novalidate>
                        <div ng-show="!productsForm.$valid" class="alert alert-danger" role="alert">
                            <b>Añade un nuevo producto</b> Debes llenar todos los campos.
                        </div>
                        <div ng-show="productsForm.$valid" class="alert alert-success" role="alert">
                            <b>Listo!</b> Clic en el botón azul para publicar :D
                        </div>
                        <p style="margin-bottom: 10px;">Live preview:
                            {{newprod.prod_name}},
                            {{newprod.prod_price}},
                            {{newprod.prod_description}},
                            {{newprod.prod_specifications}},
                            {{newprod.prod_comment_stars}},
                            {{newprod.prod_comment_author}},
                            {{newprod.prod_comment_msg}}</p>

                        <div class="col-md-12" style="margin-bottom: 10px;">
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    <input class="form-control" type="text" placeholder="Foto" disabled/>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    <input class="form-control" type="text" name="prod_name"
                                           ng-model="newprod.prod_name"
                                           placeholder="Producto" required/>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 input-group">
                                    <div class="input-group-addon">$</div>
                                    <input class="form-control" type="text" name="prod_price"
                                           ng-model="newprod.prod_price"
                                           placeholder="Precio" required min="2" max="10"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-bottom: 10px;">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <input class="form-control" type="text" name="prod_description"
                                           ng-model="newprod.prod_description"
                                           placeholder="Descripcion" required/>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <input class="form-control" type="text" name="prod_specifications"
                                           ng-model="newprod.prod_specifications"
                                           placeholder="Especificaciones" required/>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4 col-xs-4">
                                            <select class="form-control" name="prod_comment_stars"
                                                    ng-model="newprod.prod_comment_stars"
                                                    required>
                                                <option value="">Calif.</option>
                                                <option value="1">1 estrella</option>
                                                <option value="2">2 estrellas</option>
                                                <option value="3">3 estrellas</option>
                                                <option value="4">4 estrellas</option>
                                                <option value="5">5 estrellas</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-4">
                                            <input class="form-control" type="email" name="prod_comment_author"
                                                   ng-model="newprod.prod_comment_author"
                                                   placeholder="Autor" required/>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-4">
                                            <input class="form-control" type="text" name="prod_comment_msg"
                                                   ng-model="newprod.prod_comment_msg"
                                                   placeholder="Mensaje" required/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-bottom: 10px;">
                            <div class="row">
                                <div class="col-md-6">
                                    <input class="btn btn-primary" type="submit" value="Publicar producto!"
                                           ng-show="productsForm.$valid"/>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <table class="table" id="productsTable" ng-controller="PanelController as panel">
                    <thead>
                    <tr>
                        <th colspan="2">Producto</th>
                        <th>Precio</th>
                        <th colspan="2" ng-init="tab=1">
                            <ul class="nav nav-pills">
                                <li ng-class="{active: panel.isSelected(1)}">
                                    <a href ng-click="panel.selectTab(1)">Descripcion</a></li>
                                <li ng-class="{active: panel.isSelected(2)}">
                                    <a href ng-click="panel.selectTab(2)">Especific.</a></li>
                                <li ng-class="{active: panel.isSelected(3)}">
                                    <a href ng-click="panel.selectTab(3)">Comentarios</a></li>
                            </ul>
                        </th>
                    </tr>
                    </thead>
                    <tbody ng-controller="StoreController as storee">
                    <!-- now I'll attach a controller from <app.js> file -->
                    <!-- directive="<controllerName> as <alias>" -->
                    <!-- in simple words, following is like a foreach -->
                    <!-- the scope of the controller is only inside this div -->
                    <tr ng-repeat="product in storee.products | orderBy:'price'" ng-hide="product.soldOut">
                        <td><img style="width: auto; max-width: 100px;" ng-src="{{product.images[0].full}}"/></td>
                        <td>{{product.name}}</td>
                        <td>{{product.price | currency}}</td>
                        <td>
                            <div ng-show="panel.isSelected(1)" class="panel">
                                <p><b>Descripcion</b></p>

                                <p>{{product.description}}</p>
                            </div>
                            <div ng-show="panel.isSelected(2)" class="panel">
                                <p><b>Especificaciones</b></p>

                                <p>{{product.specifications}}</p>
                            </div>
                            <div ng-show="panel.isSelected(3)" class="panel">
                                <p><b>Comentarios</b></p>
                                <blockquote ng-repeat="review in product.reviews">
                                    <p><b>Calificación: </b>{{review.stars}} / 5</p>

                                    <p><b>Autor: </b>{{review.author}}</p>

                                    <p><b>Mensaje: </b>{{review.body}}</p>
                                </blockquote>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>