<!DOCTYPE html>
<html>
<head lang="es">
    <meta charset="UTF-8"/>
    <title>Gestion de personas</title>
    <script src="../js/jquery-1.11.2.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
    <script type="text/javascript" src="../js/angular.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
    <script type="text/javascript" src="personMgmt.js"></script>
    <link rel="stylesheet" href="../css/styles.css"/>
</head>
<body ng-app="persons">
<div class="container" ng-controller="PersonListController">
    <div class="col-md-12">
        <div class="row">
            <h1> Gestión de personas </h1>

            <p> <!-- services/person -->
                <a href="/">Regresar al inicio</a>
            </p>
            <hr/>

            <p>{{"Integración de AngularJS con Spring y Mybatis, CRUD general"}}</p>
            <hr/>
        </div>

        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading"><b>Personas</b></div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <label for="personName">Buscar por ID o nombre</label>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <label for="showInactive">Mostrar inactivos</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <input class="form-control" ng-model="personName" type="text" id="personName"
                                       placeholder="Escribe ..."/>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <input type="checkbox" id="showInactive" ng-click="showInactivePersons()"
                                       ng-model="showInactive"/>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th style="width: 1%; text-align: center;">ID</th>
                        <th>Nombre</th>
                        <th style="width: 1%;">Editar</th>
                        <th style="width: 1%;">Activo</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="persona in persons | filter:personName">
                        <td style="width: 1%; text-align: center;"> {{persona.id}}</td>
                        <td>
                            <div>{{persona.name}}</div>
                        </td>
                        <td style="width: 1%; text-align: center;">
                            <a href="#" class="openModal_editPerson" data-toggle="modal" data-target="#basicModal"
                               ng-click="open(persona.id, persona.name)">
                                <img src="../img/glyphicons-31-pencil.png" class="imgEditPerson"/></a>
                        </td>
                        <td style="width: 1%; text-align: center;">
                            <input type="checkbox" ng-click="changeStatus(persona.id, persona.statusid)"
                                   ng-checked="persona.statusid"
                                   class="userStatusCheckbox"/></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- modal -->
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h4>Editando una persona</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <label for="nPersonId">ID</label>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <label for="nPersonName">Nombre</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <input type="text" id="nPersonId" class="form-control" value="{{items[0]}}" readonly/>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <input type="text" id="nPersonName" class="form-control" value="{{items[1]}}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">Actualizar</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancelar</button>
        </div>
    </script>
    <!-- modal -->
</div>
</body>
</html>