p {
    margin: 0;
}

table thead th {
    text-align: center;
}

#productsTable thead th {
    font-size: 12px;
    vertical-align: middle;
}

.nav li a {
    padding: 0 10px 0 0;
}

blockquote {
    font-size: 14px;
}

textarea {
    resize: none
}

div.alert {
    margin-bottom: 10px;
}

#showInactive {
    width: 25px;
    height: 25px;
}

.userStatusCheckbox {
    width: 15px;
    height: 15px;
}

.imgEditPerson {
    width: 15px;
}
